@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin:0;
    background-color:#130C03;
}
.menu_style{
    @apply transition ease-in-out hover:text-[19px] hover:shadow-2xl hover:-translate-y-1 group-hover:scale-110 duration-1000;
}
.typewriter{
    overflow: hidden; 
    border-right: .15em solid #937969; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
    typing 5.5s steps(40, end), blink-caret 5.5s linear 0.5s infinite;
  }

  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    0 { border-color: #937969; }
  }

  .heading1{
    @apply font-bold text-[50px] text-[#937969];
  }
  .h3{
    @apply text-[#937969] mb-6 text-xl font-bold;
  }
  .imgDiv{
    @apply h-[301px] md:h-[268px] border-8 border-[#907564]  rounded-lg hover:scale-110 duration-1000;
  }